body {
  background-color: #333;
  color: white;
  margin: 0px;
}

a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: aquamarine;
  font-size: 16.5px;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

header nav {
  background-color: #333;
}

header nav .bouton-retour, header nav .form-recherche {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

header nav input {
  background-color: #222;
  border: none;
  color: aquamarine;
  font-size: 12px;
  padding: 5px;
}

.titre {
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  margin: 0px auto;
  text-align: center;
  width: 100%;
}

.accueil {
  position: absolute;
  top: 160px;
  left: 0px;
  height: 100px;
}

.accueil .ligne-sombre .boutons {
  background-color: #222;
  padding-top: 15px;
  height: 60px;
  text-align: center;
}

.fond {
  background-image: url("https://image.tmdb.org/t/p/w500/teCy1egGQa0y8ULJvlrDHQKnxBL.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 100vh;
}

.films {
  position: absolute;
  top: 160px;
  left: 0px;
  height: 100px;
}

.films .tous-films a:hover {
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
}

.films .tous-films .col-boch {
  background-color: #222;
  padding-top: 10px;
  text-align: center;
  min-width: 125px;
  max-width: 175px;
  height: 200px;
}

.films .tous-films .col-boch img {
  height: 130px;
}

.films .tous-films .col-boch p {
  font-size: 12px;
  margin-top: 8px;
}

.films .tous-films h3 {
  text-align: center;
}

.show {
  padding: 0px;
  padding-bottom: 40px;
}

.show .titre-film {
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  margin: 70px auto 30px auto;
  text-align: center;
}

.show .titre-film h1 {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

.show .section-bas-film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
}

.show .section-bas-film .image {
  max-height: 360px;
}

.show .section-bas-film .image img {
  height: 100%;
  display: block;
  margin: 0px auto;
}

.show .section-bas-film .description .texte {
  width: 90%;
}

.show .section-bas-film .description .ligne {
  background-color: #555;
  height: 1px;
  margin: 20px 0px;
  width: 200px;
}

.show .section-bas-film .description span {
  color: aquamarine;
  font-size: 12px;
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
}

.show .section-bas-film .description h4 {
  color: #aaa;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */